<main class="main">
  <div class="main__content">
    <section class="all-books">
      <button class="add-book-btn">Add Book</button>
      <button class="all-books-btn">Get All Books</button>
      <button class="available-btn">Get Available Books</button>
      <button class="reserved-btn">Get Reserved Books</button>
    </section>
  </div>
</main>