<section class="all-books">
  <a href="/add-books" class="add-book-btn">Add Book</a>
  <a href="/allbooks" class="all-books-btn">Get All Books</a>
  <a href="/available-books" class="available-btn">Get Available Books</a>
  <a href="/reserved-books" class="reserved-btn">Get Reserved Books</a>
</section>