<header class="main-header">
  <nav class="main-header_nav">
    <ul class="main-header_list">
      <li class="main-header_list-item">Home</li>
      <li class="main-header_list-item">Available Books</li>
      <li class="main-header_list-item">Reserved Books</li>
    </ul>
  </nav>
</header>