<header class="main-header">
  <h1 class="main-header__logo">Books Share</h1>
  <nav class="main-header_nav">
    <ul class="main-header_list">
      <li class="main-header_list-item"><a href="/">Home</a></li>
      <li class="main-header_list-item"><a href="/allbooks">All Books</a></li>
      <li class="main-header_list-item"><a href="/available-books">Available Books</a></li>
      <li class="main-header_list-item"><a href="/reserved-books">Reserved Books</a></li>
    </ul>
  </nav>
</header>